* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(195, 223, 139);
}

header {
  display: flex;
  /* border: 3px solid orange; */
  flex-direction: column;
  text-align: center;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

h2 {
  color: darkgreen;
  /* border: 3px solid blue; */
  padding: 0.75rem 0 0.2rem;
}

h5 {
  padding-bottom: 0.2rem;
}

nav {
  display: flex;
  /* border: 3px solid red; */
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  width: 100vw;
  max-height: 25vh;
  padding: 0.2rem 0;
}

a {
  display: flex;
  text-decoration: none;
  color: darkgreen;
  /* border: 2px solid crimson; */
  padding: 0.1rem 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

a:hover {
  color: crimson;
}

img {
  max-width: 95vw;
}

section {
  margin: 0.5rem;
  border: 3px solid antiquewhite;
  padding: 0.5rem;
  height: 74vh;
}

.section {
  margin: 0.5rem;
  border: 3px solid antiquewhite;
  padding: 0.5rem;
}

.section:nth-child(even) {
  background-color: antiquewhite;
}

h3 {
  color: darkgreen;
}

main a {
  font-size: smaller;
  text-align: right;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-card {
  border: 3px solid antiquewhite;
  width: 30vw;
}

footer a {
  padding: 0.1rem 0;
  font-size: small;
  font-weight: bold;
}

h5 {
  margin: 0.25rem;
}

.nutrition-info {
  list-style-type: none;
  margin: 1.5rem 3rem;
}

li {
  font-size: small;
  margin: 0.2rem 1rem;
}

.hidden {
  display: none;
}
